@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

#app {
  font-family: "Montserrat", sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}

.hero {
  background-color: #D8FBE9;
  border-radius: 20px;
}

hr {
  height: 5px;
}

th, .card-title {
  color: #196338;
}

.cart,
.food-menu {
  min-height: 760px;
}

.btn-checkout,
.badge-success {
  background-color: #196338;
  color: white;
  border-radius: 50px
}

.btn-checkout:hover {
  background-color: white;
  color: #196338;
  border-color: #196338;
}

.card-product {
  border-radius: 15px;
  background: linear-gradient(to bottom, #ffffff, #D8FBE9)
}


.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: black;
}

.form-group {
  margin-bottom: 10px;
}

#cart-list {
  border: 1px solid #f00; /* 2px width, solid line, green color */
  border-radius: 10px;
}

#image-tab:hover {
  opacity: 1;
}
#image-tab {
  opacity: 0.8;
  cursor: pointer;
  height: 80px;
}
/* #main-image {
  height: 400px;
} */

