@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

#app {
  font-family: "Montserrat", sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}

hr {
  height: 5px;
}

th {
  color: #186F65;
}

.cart,
.food-menu {
  min-height: 760px;
}

.btn-checkout,
.badge-success {
  background-color: #186F65;
  color: white;
}

.btn-checkout:hover {
  background-color: white;
  color: #186F65;
  border-color: #186F65;
}

.card-product {
  border-radius: 15px;

}

.card-img-top,
.card-disable {
  border-radius: 15px 15px 0 0 ;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: black;
}

.form-group {
  margin-bottom: 10px;
}

#image-tab:hover {
  opacity: 1;
}
#image-tab {
  opacity: 0.8;
  cursor: pointer;
  height: 80px;
}
#main-image {
  height: 400px;
}

.navbar {
  background-color: #D0E7D2;
}